.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.explore_text_color {
  background: linear-gradient(90deg, #bababa 0%, #fafafa 53.13%, #bababa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-slide {
  width: 350px !important;
  margin-right: 5px !important;
}

/* -------- Responsive button slider --------- */
@media (max-width: 540px) {
  .swiper-slide {
    width: 32% !important;
    height: 30px !important;
    margin: 0 auto !important;
    margin-right: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
@media (max-width: 400px) {
  .product_image {
    width: 55px;
    height: 51px;
  }
}
