@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eef3f9 !important;
  padding: 0 5px;
  font-family: "Noto Sans JP";
}

.maxWidth {
  max-width: 1325px !important;
}

.border {
  border: 2px solid red !important;
}
